.benefits {
  padding: 0 70px;
}
.benefits__title {
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  margin-top: 95px;
  margin-bottom: 50px;
}
.benefits__list {
  display: flex;
  list-style: none;
}

.benefits__item {
  color: #052cb6;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
}
.benefits__image {
  max-width: 150px;
  max-height: 100px;
}
.benefits__item-content {
  display: flex;
}

@media screen and (max-width: 1112px) {
  .benefits__title {
    font-size: 28px;
  }
  .benefits__image {
    max-width: 120px;
    max-height: 70px;
  }
  .benefits__item {
    font-size: 16px;
  }
  .benefits__item-content {
    width: 200px;
  }
  .benefits__list {
    justify-content: center;
  }
}

@media screen and (max-width: 800px) {
  .benefits__title {
    font-size: 24px;
  }
  .benefits {
    padding: 0 50px;
  }
}

@media screen and (max-width: 800px) {
  .benefits__image {
    max-width: 100px;
    max-height: 50px;
  }
  .benefits__item {
    font-size: 14px;
  }
  .benefits__item-content {
    width: 170px;
  }
}

@media screen and (max-width: 768px) {
  .benefits__item-content {
    flex-direction: column;
    align-items: center;
  }
  .benefits__list {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 450px) {
  .benefits__title {
    font-size: 20px;
    margin-bottom: 30px;
  }
  .benefits__item {
    font-size: 12px;
  }
}
